a
    color: var(--primary-color-text)
    text-decoration: none

    &:visited, &unvisited
        text-decoration: none
        color: var(--primary-color-text)

    &:active
        text-decoration: none
